/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(240, 240, 240);
    /* background-image: url('assets/covid-vaccines-image-2.jpg'); */
    background-image: url('https://wallpapercave.com/wp/wp9135919.jpg');
    background-repeat: no-repeat;
    background-size:50%;
    background-attachment: scroll;
    

}