.forminfo{
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
    font-weight: normal;
}


.main{
    border:2px solid black;
    border-radius: 10px;
    background-color: rgb(133, 164, 189);
    margin:30px  auto;
    margin-top:70px;
    padding: 10px;
    width:55%;
    text-decoration-color:white;
    /* display:block; */

}
#align{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
   
}
#submit{
    background-color: rgb(48, 68, 94);
    font: 20px bold;
    width: 60%;
    margin-left: 20%;
    padding: 10px;
    color:white;
   
}
#submit:hover{

    background-color: rgb(75, 75, 145);
}
.errmsg{
    color:red;
    border:brown;

}
input{
    font-weight:lighter;
}
input.ng-invalid.ng-touched{
    border:red solid 1px;
}
.sup{
    color: red;
}