<app-constant-assets></app-constant-assets>

<!-- <div class="noFav">
    <div class="img"><img src="/assets/icon_nothing.png" alt=""></div>
    <div class="txt">No Recent Searches</div>
</div> -->


<div class="main">
    <div class="subheader">
        <div class="mobileHead">
            <div><mat-icon class="arrowIcon" (click)="backToHome()">arrow_back</mat-icon></div>
            <div class="headerText">Recent Search</div>
            <div><mat-icon class="searchMatIcon">search</mat-icon></div>
        </div>
        <div class="msg">
            <p >6 recent searches</p>
        </div>
        <button (click)="recentDialog()" class="remove">
            Clear All
        </button>
    </div>
    <div class="row" *ngFor="let data of recentCity">
        <div class="placetempParent">
         <div class="place">{{data['name']}},Karnataka</div>
         <div class="temperature">
             <div class="icon"><img src="/assets/icon_mostly_sunny.svg" id="icon" alt=""></div>
             <div class="cont">
                 <div class="deg">
                    {{(data['main'].temp -273.15).toFixed(0)}} <span class="temp">&#176;C</span>
                 </div>
             </div>
             <div class="comment">
                {{(data['weather'][0].description)}}
             </div>
         </div>
        </div>
 
         <div class="fav">
             <mat-icon>favorite_border</mat-icon>
         </div>
         
     </div>
 
 
     <!-- <div class="row">
       <div class="placetempParent">
         <div class="place">Coorg,Karnataka</div>
 
         <div class="temperature">
             <div class="icon"><img src="/assets/icon_rain_big.png" id="icon" alt=""></div>
             <div class="cont">
                 <div class="deg">
                     25 <span class="temp">&#176;C</span>
                 </div>
             </div>
             <div class="comment">
                 Mostly Cloudy
             </div>
         </div>
         
     </div>
     <div class="fav">
         <mat-icon>favorite_border</mat-icon>
     </div>
       </div>
     -->
</div>
   
